[lang="de"] body { --FlashCore-Language: German; }
/* Official Translation by Lööps 
Update: Translation Cancelled rn, this is the broken remains of the German Version*/
@container German (min-width: 0px) {
    [class^="app_"] {
        --FlashLang-WinBar: "🪟 "var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Melde Bugs in #🐞sgn-issues-reports auf dem SGN Discord Server.";
        --FlashLang-MacBar: "Melde Bugs in #🐞sgn-issues-reports auf dem SGN Discord Server. | 🍎 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version) " ";
        --FlashLang-LinuxBar: "🐧 "var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Melde Bugs in #🐞sgn-issues-reports auf dem SGN Discord Server.";
    
        --FlashLang-Boot_Android: "⚠️ You are having connection problems.";

        --FlashLang-Warning_LightTheme: "  ⚠️ Flashcord ist Beta-Software.  ";
        --FlashLang-Warning_DarkTheme: "  ⚠️ Flashcord ist Beta-Software. 🌙 Dunkler Modus ist unfertig.  ";
        --FlashLang-Warning_Iridescent: "  ⚠️ Flashcord ist Beta-Software. 💥 Irisierender Modus ist unfertig.  ";
        --FlashLang-Warning_LightCBM: "  ⚠️ Flashcord ist Beta-Software. 🖼️ Heller benutzerdefinierter Hintergrund Modus ist unfertig.  ";
        --FlashLang-Warning_DarkCBM: "  ⚠️ Flashcord ist Beta-Software. 🖼️ Dunkler benutzerdefinierter Hintergrund Modus ist unfertig.  ";
        --FlashLang-Warning_Transparent: "  ⚠️ Flashcord ist Beta-Software. 👻 Transparenter Modus ist unfertig.  ";
        --FlashLang-Warning_DeprecratedCBM: "  ⚠️ Der benutzerdefinierte Modus ohne ThemeHooker wird nicht mehr unterstützt.  ";
    
        --FlashLang-C_AT-BasicThemes: "📷 Flashcord Einfache Themen";
        --FlashLang-C_AT-AdvancedThemes: "📸 Flashcord Erweiterte Themen";
        --FlashLang-C_AT-ModificationNotice: "📖 Gewisse Optionen, wie z.B. die horizontale Serverliste, sind erst nach dem Ändern einer Variable verfügbar. Weitere Infos findest du im Flashcord Wiki.";
        --FlashLang-C_AT-ThemeHooker: "⚠️ Erweiterte Themen erfordern LegalDiscordBypasses oder Discord Nitro, um sie zu aktivieren. \A ✅ ThemeHooker ist vorhanden und hat neue Themen aktiviert.";
        --FlashLang-C_AT-NoThemeHooker: "⚠️ Erweiterte Themen erfordern LegalDiscordBypasses oder Discord Nitro, um sie zu aktivieren. \A ⛔ ThemeHooker fehlt. Bestimmte Themen wurden entfernt.";
        --FlashLang-C_AT-Light: "Light Mode";
        --FlashLang-C_AT-Dark: "Dunkler Modus";
        --FlashLang-C_AT-Sync: "Sync Modus";
        --FlashLang-C_AT-LightCBM: "Custom Background Mode (Light Mode)";
        --FlashLang-C_AT-DarkCBM: "Custom Background Mode (Dark Mode)";
        --FlashLang-C_AT-IridescentLight: "Iridescent Modus (Light Mode)";
        --FlashLang-C_AT-IridescentDark: "Iridescent Modus (Dunkler Modus)";
        --FlashLang-C_AT-Transparent: "Transparenter Modus";
        --FlashLang-C_AT-Terminal: "Terminal Mode";
        --FlashLang-C_AT-Transparent: "Transparent Mode";

        --FlashLang-C_ATDesc-LightCBM: "Custom Background Mode (alias " var(--FlashLang-DoubleQuote) "CBM" var(--FlashLang-DoubleQuote) ") is a Transparent looking Theme where you can fully personalize your background to your liking. \A The variable to change the background is " var(--FlashLang-DoubleQuote) "--Flashcord-CBM_Light-Image" var(--FlashLang-DoubleQuote) ". More info on the Flashcord Wiki. \A ⚠️ Due to the nature of this theme. Performance of the " var(--FlashLang-DoubleQuote) "ChatSlide" var(--FlashLang-DoubleQuote) " module is poor.";
        --FlashLang-C_ATDesc-DarkCBM: "Custom Background Mode, but with a more dark theme! This is the most ideal version of CBM mode to use. \A The variable to change the background is " var(--FlashLang-DoubleQuote) "--Flashcord-CBM_Dark-Image" var(--FlashLang-DoubleQuote) ". More info on the Flashcord Wiki. \A ⚠️ Due to the nature of this theme. Performance of the " var(--FlashLang-DoubleQuote) "ChatSlide" var(--FlashLang-DoubleQuote) " module is poor.";
        --FlashLang-C_ATDesc-IridescentLight: "Iridescent Mode (alias Bloat Mode or " var(--FlashLang-DoubleQuote) "But can it run Flashcord?" var(--FlashLang-DoubleQuote) " Mode) is the most Advanced Theme of Flashcord. It holds back zero punches and will absolutely lag the crap out of Discord. This theme is ideal for those who truly want a fully eye-candy experience. Blurry elements are everywhere, expect your GPU and CPU to absolutely suffer. Iridescent Mode in Light Mode is the recommended version. \A ⛔ PLEASE USE ON HIGH-END SYSTEMS ONLY.";
        --FlashLang-C_ATDesc-IridescentDark: "Iridescent Mode but in dark mode. Some elements may be hard to see as the white variant handles contrast and depth with blur far better. \A ⛔ PLEASE USE ON HIGH-END SYSTEMS ONLY.";
        --FlashLang-C_ATDesc-Terminal: "Terminal Mode is a Theme that tries to mimic the style of a Linux Terminal. \A This theme enables a new blackout animation (shown in the GIF) and uses the CRT boot animation.";
        --FlashLang-C_ATDesc-Transparent: "Transparent Mode does not currently work at this time but is a planned theme. It will work in future versions of Replugged and Flashcord.";

        --FlashLang-ChatEdits_StoreLink: "✅ Flashcord Store Link";
        
        --FlashLang-EffectText_Small: "\A 🎉 Flashcord Effect: Small";
        --FlashLang-EffectText_Shaking:"\A 🎉 Flashcord Effect: Shaking";
        --FlashLang-EffectText_Dramatic:"\A 🎉 Flashcord Effect: Dramatic";
        --FlashLang-EffectText_FadeBottom:"\A 🎉 Flashcord Effect: Fading from the Bottom";
        --FlashLang-EffectText_4Chan:"\A 🎉 Flashcord Effect: 4Chan";

        --FlashLang-Addon_Welcome: "\A\A📸 Welcome to " var(--Flashcord-Branch) " ! You are using the " var(--Flashcord-Channel) " Channel of Flashcord.\A\A";
        --FlashLang-Warning_PluginsCompatibility: "\A\A⚠️ As of right now, approved plugins may actually have minor issues with Flashcord.\A\A";
        --FlashLang-PluginC_Flashcord-Store: "This plugin was approved for the Flashcord Store, but wasn't by Replugged, use at your own risk.\A\A";
        --FlashLang-Addon_Recommended: "🔧 Flashcord Compatibility: ❤️ Recommended\A\A";
        --FlashLang-Addon_Compatible: "🔧 Flashcord Compatibility: ✅ Compatible\A\A";
        --FlashLang-Addon_MinorIssues: "🔧 Flashcord Compatibility: ⚠️ Minor Issues\A\A";
        --FlashLang-Addon_Incompatible: "🔧 Flashcord Compatibility: ⛔ Incompatible, disable Flashcord\A\A";
        --FlashLang-Addon_Unknown: "🔧 Flashcord Compatibility: ❓ Unknown\A\A";
        --FlashLang-PluginC_ThemeHooker: "🔧 Flashcord Compatibility: 💥 REQUIRED PLUGIN: Enables new Advanced Themes\A\A";
        --FlashLang-PluginC_Magnificient: "🔧 Flashcord Compatibility: 💥 REQUIRED PLUGIN: Prevents images to be blurry when hovering on them. (" var(--FlashLang-DoubleQuote) "Imagivid" var(--FlashLang-DoubleQuote) " Module)\A\A";
        --FlashLang-PluginC_RoleDiviers: "🔧 Flashcord Compatibility: ⚠️ Recommended PLUGIN: Enhances the UPFG Module\A\A";
        --FlashLang-PluginC_GreenText: "🔧 Flashcord Compatibility: ⚠️ Recommended Plugin: Enhances the 4Chan Chat Effect\A\A";
        --FlashLang-PluginC_FlashcordApproved: "✅ Flashcord Store Approved Plugin \A\A";

        --FlashLang-C_MAT-AboutFC: "\A Über Flashcord";
        --FlashLang-AFC_SNDL: "Flashcord is a personal project maintained with love by SiriusBYT, it takes the design language of " var(--FlashLang-DoubleQuote) "SNWE/SNDL" var(--FlashLang-DoubleQuote) " and applies it to Discord. SNDL is my own design language where it has a minimalistic look that does not compromise on looks at all, using blurs for style and animations on hover where it makes sense for the user to offer a way more compact experience while still being easy to use and while having every information you need at a quick glance. \A";
        --FlashLang-AFC_Support: "Support is held on The Sirio Network Discord Server (https://sirio-network.com/redirect/discord). \A\A";
        --FlashLang-AFC_ClosedAlpha: "Please give a thanks to these amazing people who helped with the Closed Alpha of Flashcord 💖 \A";
        --FlashLang-AFC_PaidSupport: "Of course, thanks to you, Flashcord Supporters 💸! \A";
        --FlashLang-AFC_Translators: "🌐 Flashcord can be used anywhere around the world thanks to these people: \A";
        --FlashLang-AFC_SGN: "Thanks to those who joined the SGN Discord Server for Flashcord 🗣️ ! \A";
        --FlashLang-AFC_GitHub: "And finally, thanks for those who stared the Flashcord GitHub Repo ✨ ! \A";
        --FlashLang-AFC_SpecialThanks: "🌠 Special Thanks: \A";
        --FlashLang-AFC_Evelyn: "- Evelyn: Created " var(--FlashLang-DoubleQuote) "Magnificent" var(--FlashLang-DoubleQuote) " and was ok being bullied by me to fix specific bugs that were found when using Flashcord \A";
        --FlashLang-AFC_Tharki: "- Tharki-God: Person to have given me the idea (accidentally) to create the Plugins section of the Flashcord Store \A";
        --FlashLang-AFC_EastArctica: "- East_Arctica: Posted a plugin to the Flashcord Store, also is just in general a super cool person \A\A";
        --FlashLang-AFC_Copyright: "Flashcord © 2023-2024 by SiriusBYT is licensed under CC BY-NC-ND 4.0. \A\A\A\A\A\A\A\A\A\A";

        /* Insert your quote here in the format:
        --FlashLang-AFC_Translator-Quote: "      🗨️ [Translator Quote] NameHere: " var(--FlashLang-DoubleQuote) "Actual Quote here" var(--FlashLang-DoubleQuote)" \A\A ";
        */
        --FlashLang-AFC_Translator-Quote: "";
    }
}