/* Debug Mode */
@container Debug (min-width: 0px) {
    [class^="app_"] {
        --FlashLang-WinBar: "--FlashLang-WinBar";
        --FlashLang-MacBar: "--FlashLang-MacBar";
        --FlashLang-LinuxBar: "--FlashLang-LinuxBar";
    
        --FlashLang-Boot_Android: "--FlashLang-Boot_Android";

        --FlashLang-Warning_LightTheme: "--FlashLang-Warning_LightTheme";
        --FlashLang-Warning_DarkTheme: "--FlashLang-Warning_DarkTheme";
        --FlashLang-Warning_Iridescent: "--FlashLang-Warning_Iridescent";
        --FlashLang-Warning_LightCBM: "--FlashLang-Warning_LightCBM:";
        --FlashLang-Warning_DarkCBM: "--FlashLang-Warning_DarkCBM";
        --FlashLang-Warning_Transparent: "--FlashLang-Warning_Transparent";
        --FlashLang-Warning_DeprecratedCBM: "--FlashLang-Warning_DeprecratedCBM";
    
        --FlashLang-C_AT-BasicThemes: "--FlashLang-C_AT-BasicThemes";
        --FlashLang-C_AT-AdvancedThemes: "--FlashLang-C_AT-AdvancedThemes";
        --FlashLang-C_AT-ModificationNotice: "--FlashLang-C_AT-ModificationNotice";
        --FlashLang-C_AT-ThemeHooker: "--FlashLang-C_AT-ThemeHooker";
        --FlashLang-C_AT-NoThemeHooker: "--FlashLang-C_AT-NoThemeHooker";
        --FlashLang-C_AT-Light: "--FlashLang-C_AT-Light";
        --FlashLang-C_AT-Dark: "--FlashLang-C_AT-Dark";
        --FlashLang-C_AT-Sync: "--FlashLang-C_AT-Sync";
        --FlashLang-C_AT-LightCBM: "--FlashLang-C_AT-LightCBM";
        --FlashLang-C_AT-DarkCBM: "--FlashLang-C_AT-DarkCBM";
        --FlashLang-C_AT-IridescentLight: "--FlashLang-C_AT-IridescentLight";
        --FlashLang-C_AT-IridescentDark: "--FlashLang-C_AT-IridescentDark";
        --FlashLang-C_AT-Terminal: "--FlashLang-C_AT-Terminal";
        --FlashLang-C_AT-Transparent: "--FlashLang-C_AT-Transparent";

        --FlashLang-C_ATDesc-LightCBM: "--FlashLang-C_ATDesc-LightCBM";
        --FlashLang-C_ATDesc-DarkCBM: "--FlashLang-C_ATDesc-DarkCBM";
        --FlashLang-C_ATDesc-IridescentLight: "--FlashLang-C_ATDesc-IridescentLight";
        --FlashLang-C_ATDesc-IridescentDark: "--FlashLang-C_ATDesc-IridescentDark";
        --FlashLang-C_ATDesc-Terminal: "--FlashLang-C_ATDesc-Terminal";
        --FlashLang-C_ATDesc-Transparent: "--FlashLang-C_ATDesc-Transparent";

        --FlashLang-ChatEdits_StoreLink: "--FlashLang-ChatEdits_StoreLink";

        --FlashLang-EffectText_Small: "\A --FlashLang-EffectText_Small";
        --FlashLang-EffectText_Shaking:"\A --FlashLang-EffectText_Shaking";
        --FlashLang-EffectText_Dramatic:"\A --FlashLang-EffectText_Dramatic";
        --FlashLang-EffectText_FadeBottom:"\A --FlashLang-EffectText_FadeBottom";
        --FlashLang-EffectText_4Chan:"\A --FlashLang-EffectText_4Chan";

        --FlashLang-Addon_Welcome: "\A\A --FlashLang-Addon_Welcome \A\A";
        --FlashLang-Warning_PluginsCompatibility: "\A\A--FlashLang-Warning_PluginsCompatibility\A\A";
        --FlashLang-PluginC_Flashcord-Store: "--FlashLang-PluginC_Flashcord-Store\A\A";
        --FlashLang-Addon_Recommended: "--FlashLang-Addon_Recommended\A\A";
        --FlashLang-Addon_Compatible: "--FlashLang-Addon_Compatible\A\A";
        --FlashLang-Addon_MinorIssues: "--FlashLang-Addon_MinorIssues\A\A";
        --FlashLang-Addon_Incompatible: "--FlashLang-Addon_Incompatible\A\A";
        --FlashLang-Addon_Unknown: "--FlashLang-Addon_Unknown\A\A";
        --FlashLang-PluginC_ThemeHooker: "--FlashLang-PluginC_ThemeHooker\A\A";
        --FlashLang-PluginC_Magnificient: "--FlashLang-PluginC_Magnificient\A\A";
        --FlashLang-PluginC_RoleDiviers: "--FlashLang-PluginC_RoleDiviers\A\A";
        --FlashLang-PluginC_GreenText: "--FlashLang-PluginC_GreenText\A\A";
        --FlashLang-PluginC_FlashcordApproved: "--FlashLang-PluginC_FlashcordApproved\A\A";

        --FlashLang-C_MAT-AboutFC: "\A --FlashLang-C_MAT-AboutFC";

        --FlashLang-AFC_SNDL: "--FlashLang-AFC_SNDL \A";
        --FlashLang-AFC_Support: "--FlashLang-AFC_Support \A\A";
        --FlashLang-AFC_ClosedAlpha: "--FlashLang-AFC_ClosedAlpha \A";
        --FlashLang-AFC_PaidSupport: "--FlashLang-AFC_PaidSupport \A";
        --FlashLang-AFC_Translators: "--FlashLang-AFC_Translators \A";
        --FlashLang-AFC_SGN: "--FlashLang-AFC_SGN \A";
        --FlashLang-AFC_GitHub: "--FlashLang-AFC_GitHub \A";
        --FlashLang-AFC_SpecialThanks: "--FlashLang-AFC_SpecialThanks \A";
        --FlashLang-AFC_Evelyn: "--FlashLang-AFC_Evelyn \A";
        --FlashLang-AFC_Tharki: "--FlashLang-AFC_Tharki \A";
        --FlashLang-AFC_EastArctica: "--FlashLang-AFC_EastArctica \A\A";
        --FlashLang-AFC_Copyright: "--FlashLang-AFC_Copyright \A\A\A\A\A\A\A\A\A\A";

        --FlashLang-AFC_Translator-Quote: "--FlashLang-AFC_Translator-Quote \A\A";
    }
}