[lang="fr"] body { --Flashcord-Language: French; }

@container English (min-width: 0) { /* Official Translation by SiriusBYT */
    /* bSID-DEV_240420: THIS PILE OF SHIT DOESNT FUCKING PARSE --FCL-WINDOWS NO MATTER WHAT THE FUCK I DO, I HAVE TO HARDCODE THIS SHIT, WHY??? ITS UGLY TOO THIS SHOULD BELONG TO KERNEL/RING3 NOT HERE GOD DAMN IT */
    .platform-win [class^="notAppAsidePanel_"]::before { content: "🪟 " var(--FlashCore-Branch) " " var(--FlashCore-Channel) "-" var(--FlashCore-Version)" | Signalez les bugs dans #🐞sgn-issues-reports sur le Serveur Discord d'SGN." }

    #app-mount > div {
        --FCL-Crash_Header: "Oups. Votre Client Discord a crashé.";
        --FCL-Crash_Paragraph: "Vous pouvez essayer le bouton relancer si-dessous, mais ce bouton risque de vous bloquer dans une boucle de crashs. \A Je suggère de fermer entièrement Discord et le relancer pour des meilleurs chances de fonctionnement.";
    
        --FCL-Blackout_Android: "⚠️ You are having connection problems.";

        --FCL-Theme_Light: " ☀️ Mode Clair";
        --FCL-Theme_Dark: " 🌙 Mode Sombre";
        --FCL-Theme_Sync: " 🕒 Mode Synchronisé";
        --FCL-Theme_CBM-Light: " 🖼️ Arrière-Plan Customisé Clair";
        --FCL-Theme_CBM-Dark: " 🖼️ Arrière-Plan Customisé Sombre";
        --FCL-Theme_Iridescent:  " 💥 Mode Iridescent";
        --FCL-Theme_Terminal:  " 💾 Mode Terminale";
        --FCL-Theme_Transparent: " 👻 Mode Transparent";

        --FCL-Warning_Beta: "  ⚠️ Flashcord est en Beta.";
        --FCL-Warning_Unfinished: " n'est pas terminé.  ";
        --FCL-Warning_Deprecated: "  ⛔ Le mode Arrière-Plan Customisé sans ThemeHooker n'est plus supporté.  ";
    
        --FCL-AT_Basic: "📷 Thèmes Flashcord Basiques";
        --FCL-AT_Advanced: "📸 Thèmes Flashcord Avancées";
        --FCL-AT_Wiki: "📖 Référez vous au Wiki de Flashcord pour plus d'informations.";
        --FCL-AT_Notice: "Merci de dénoter que les " var(--Q)"Thèmes Avancés"var(--Q) " ne doit pas être confondus avec les Modules Flashcord.\A" var(--FCL-AT_Wiki);
        --FCL-AT_Requirements: "⚠️ Les Thèmes Avancés ont besoin de " var(--Q) "LegalDiscordBypasses" var(--Q) " ou Discord Nitro pour les activer. \A";
        --FCL-AT_ThemeHooker: var(--FCL-AT_Requirements) "✅ " var(--Q) "ThemeHooker" var(--Q) " est présent et a activé de nouveaux thèmes.";
        --FCL-AT_No-ThemeHooker: var(--FCL-AT_Requirements) "⛔ " var(--Q) "ThemeHooker" var(--Q) " est manquant. Ceci n'est plus supporté et vous ALLEZ VOIR des problèmes!";

        --FCL-AT_CBM: var(--Q)"CBM"var(--Q)" est un thème avec un look transparent où vous pouvez définir votre propre image!";
        --FCL-AT_CBM-Light: var(--FCL-AT_CBM) " Ceci est la variante clair de ce thème, vous risquez d'avoir des problèmes de visibilités en revanche.\A" var(--FCL-AT_Wiki);
        --FCL-AT_CBM-Dark: var(--FCL-AT_CBM) " Ceci est la variante idéale de " var(--Q)"CBM"var(--Q)" à utiliser!\A" var(--FCL-AT_Wiki);
        --FCL-AT_Iridescent: "Ceci est le " var(--FCL-Theme_Iridescent)". Le mode le plus lourd en ressource de Flashcord.\ASi vous voulez vous brûler les yeux avec de la beauté, alors vous êtes au bon endroit. ⛔ MERCI D'UTILISER SEULEMENT SUR DES ORDINATEURS DE HAUTE-PERFORMANCE.\A";
        --FCL-AT_Iridescent-Light: var(--FCL-AT_Iridescent) "Ceci est la variance claire et le mode recommender d'utiliser le " var(--FCL-Theme_Iridescent)".";
        --FCL-AT_Iridescent-Dark: var(--FCL-AT_Iridescent) "Ceci est la variante sombre, mais il n'est pas recommandé suite aux problèmes de visibilités.";
        --FCL-AT_Terminal: var(--FCL-Theme_Terminal) " est un thème qui essaye de copier le style d'un TTY Rétro GNU/Linux.";
        --FCL-AT_Transparent: var(--FCL-Theme_Transparent) " ne fonctionne pas actuellement. Il fonctionnera dans les versions future de Replugged et Flashcord.";

        --FCL-Effect: "\A 🎉 Effet Flashcord:";
        --FCL-Effect_Small:  var(--FCL-Effect) " Petit";
        --FCL-Effect_Shaking: var(--FCL-Effect) " Tremblant";
        --FCL-Effect_Dramatic: var(--FCL-Effect) " Dramatique";
        --FCL-Effect_Fade-Bottom: var(--FCL-Effect) " Apparition depuis le bas";
        --FCL-Effect_4Chan: var(--FCL-Effect) " 4Chan";
        --FCL-Effect_Wide:  var(--FCL-Effect) " Gros";

        --FCL-Addon_Welcome: "\A\A📸 Bienvenue sur " var(--FlashCore-Branch) " ! Vous utilisez la Chaîne " var(--FlashCore-Channel) " de Flashcord.\A\A";

        --FCL-Credits_About: "\A À propos de Flashcord";

        --FCL-Credits_SNDL: "Flashcord est un projet personnel maintenu avec amour par SiriusBYT, il reprend le design de " var(--Q) "SNWE/SNDL" var(--Q) " et l'applique à Discord. \A";
        --FCL-Credits_Help: "De l'aide est disponible sur le Serveur Discord du Sirio Network (https://sirio-network.com/redirect/discord). \A\A";
        --FCL-Credits_Alpha: "Merci de dire merci à ces gens géniaux qui ont aidé avec l'Alpha Fermé de Flashcord 💖 \A";
        --FCL-Credits_Suppoters: "Évidemment, merci à vous, les Supporters de Flashcord 💸! \A";
        --FCL-Credits_Translators: "🌐 Flashcord can be used anywhere around the world thanks to these people: \A";
        --FCL-Credits_SGN: "Merci à tous ceux qui ont rejoin le Serveur Discord de SGN pour Flashcord 🗣️ ! \A";
        --FCL-Credits_GitHub: "Et finalement, merci à tous ceux qui ont laissé une étoile sur le GitHub de Flashcord ✨ ! \A";
        --FCL-Credits_Special: "🌠 Merci Spéciale: \A";
        --FCL-Credits_Evelyn: "- Evelyn: À crée " var(--Q) "Magnificent" var(--Q) " et a été d'accord à être harcelé par moi pour réparer des bugs spécifiques trouvés avec Flashcord \A";
        --FCL-Credits_Tharki: "- Tharki-God: La personne qui m'a donné (accidentellement) l'idée de la section des Plugins dans le Flashcord Store \A";
        --FCL-Credits_East-Arctica: "- East_Arctica: Avait posté un plugin sur le Flashcord Store, aussi c'est juste une personne cool en générale \A\A";

        --FCL-Credits_Translator-Quote: "      🗨️ [Citation du Traducteur] SiriusBYT: " var(--Q) "Je déteste le Français. Keske jé fou ici?!!?" var(--Q)" \A\A ";
    }
}