/* Alright you sussy wankers */
@container GangChat (min-width: 0px) {
    [class^="app_"] {
        --FlashLang-WinBar: "🪟 "var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report Sirius's stupidity in #🐞sgn-issues-reports on the SGN Discord Server.";
        --FlashLang-MacBar: "Report Sirius's stupidity in #🐞sgn-issues-reports on the SGN Discord Server. | 🍎 " var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version) " ";
        --FlashLang-LinuxBar: "🐧 "var(--Flashcord-Branch) " " var(--Flashcord-Channel) "-" var(--Flashcord-Version)" | Report Sirius's stupidity in #🐞sgn-issues-reports on the SGN Discord Server.";
    
        --FlashLang-Boot_Android: "⚠️ use ethernet you fuf";

        --FlashLang-Warning_LightTheme: "  ☀️Light mode is love. Light mode is life.  ";
        --FlashLang-Warning_DarkTheme: "  🌙 Dark Mode is for the weak.  ";
        --FlashLang-Warning_Iridescent: "  💥 my main goal is to blow up  ";
        --FlashLang-Warning_LightCBM: "  🖼️ nice weeb background bud.  ";
        --FlashLang-Warning_DarkCBM: "  🖼️ cbm but unweeb edition.  ";
        --FlashLang-Warning_Transparent: "  👻 This theme doesn't work tf you doing here?  ";
        --FlashLang-Warning_DeprecratedCBM: "  ⚠️ USE THEMEHOOKER YOU VENCORD (gud) /BD (ew) NERD  ";
    
        --FlashLang-C_AT-BasicThemes: "📷 Flashcord's Unbloated Themes";
        --FlashLang-C_AT-AdvancedThemes: "📸 Flashcord's Bloatfest Themes";
        --FlashLang-C_AT-ModificationNotice: "📖 read the fucking manual";
        --FlashLang-C_AT-ThemeHooker: "⚠️ pay for nitro or use sussy plugin \A ✅ you are a certified sussy wanker";
        --FlashLang-C_AT-NoThemeHooker: "⚠️ pay for nitro or use sussy plugin \A ⛔ you are not a certified sussy wanker";
        --FlashLang-C_AT-Light: "Flashbang Mode";
        --FlashLang-C_AT-Dark: "Not Racist Mode";
        --FlashLang-C_AT-Sync: "We're all the same in the inside Mode";
        --FlashLang-C_AT-LightCBM: "weeb mode (Flashbang Mode)";
        --FlashLang-C_AT-DarkCBM: "not weeb by default but could be weeb mode (Not Racist Mode)";
        --FlashLang-C_AT-IridescentLight: "Replugged Unapproved Mode (Flashbang Mode)";
        --FlashLang-C_AT-IridescentDark: "Replugged Unapproved Mode (Not Racist Mode)";
        --FlashLang-C_AT-Transparent: "Mode that doesn't fucking exist right now \A because Transparency in Replugged isn't done yet";
        --FlashLang-C_AT-Terminal: "Nerd Mode";
        --FlashLang-C_AT-Transparent: " Mode";
        
        --FlashLang-C_ATDesc-LightCBM: "i can't fucking believe they put yeah miku as the first flashcord custom background background";
        --FlashLang-C_ATDesc-DarkCBM: "hey look, sirius' cringe channel banner.";
        --FlashLang-C_ATDesc-IridescentLight: "BUT CAN IT RUN FLASHCORD'S IRIDESCENT MODE? (flashbang edition)";
        --FlashLang-C_ATDesc-IridescentDark: "BUT CAN IT RUN FLASHCORD'S IRIDESCENT MODE? (boring edition)";
        --FlashLang-C_ATDesc-Terminal: "debian sid > arch linux :trolley:";
        --FlashLang-C_ATDesc-Transparent: "You're so pretty that you fit so well in nature, you're now transparent.";

        --FlashLang-ChatEdits_StoreLink: "✅ Cringe Store Link";

        --FlashLang-EffectText_Small: "\A 🎉 something nobody uses: your dong's size";
        --FlashLang-EffectText_Shaking:"\A 🎉 something nobody uses: your mom walking to your room";
        --FlashLang-EffectText_Dramatic:"\A 🎉 something nobody uses: tetrio banner thingy";
        --FlashLang-EffectText_FadeBottom:"\A 🎉 something nobody uses: reverse loop it and it does a funny";
        --FlashLang-EffectText_4Chan:"\A 🎉 something nobody uses: gangchat but worse";

        --FlashLang-Addon_Welcome: "\A\A📸 u using " var(--Flashcord-Branch) " on the " var(--Flashcord-Channel) " branch of cringecord.\A\A";
        --FlashLang-Warning_PluginsCompatibility: "\A\A⚠️ plugins will destroy ohio.\A\A";
        --FlashLang-PluginC_Flashcord-Store: "Approved by Sirius, meaning approved by fr*nch, use at your own risk. \A\A";
        --FlashLang-Addon_Recommended: "❤️ use this useless thing\A\A";
        --FlashLang-Addon_Compatible: "✅ this thing doesn't break flashcord\A\A";
        --FlashLang-Addon_MinorIssues: "⚠️ this breaks flashcord \A\A";
        --FlashLang-Addon_Incompatible: "⛔ this will cause ww3\A\A";
        --FlashLang-Addon_Unknown: "who?\A\A";
        --FlashLang-PluginC_ThemeHooker: "SOMEONE TOUCHA MY [bloat mode]\A\A";
        --FlashLang-PluginC_Magnificient: "zoom without blur haha\A\A";
        --FlashLang-PluginC_RoleDiviers: "wow something minor!!!\A\A";
        --FlashLang-PluginC_GreenText: "gangchat is literally discount 4chan cuz of flashcord\A\A";
        --FlashLang-PluginC_FlashcordApproved: "✅ Cringe Store Approved Plugin \A\A";

        --FlashLang-C_MAT-AboutFC: "\A Flashcord Lore";

        --FlashLang-AFC_SNDL: "Flashcord comes from the inner depths of hell. \A";
        --FlashLang-AFC_Support: "Support is held on Sirius's half baked Discord Server. \A\A";
        --FlashLang-AFC_ClosedAlpha: "these nerds got access to flashcord early ⤵️\A";
        --FlashLang-AFC_PaidSupport: "smh these people wasted their 💸 \A";
        --FlashLang-AFC_Translators: "🌐 these people participated in the additional 50kb in size of flashcord ⤵️ \A";
        --FlashLang-AFC_SGN: "These poor souls keep getting pinged for no reason ⤵️\A";
        --FlashLang-AFC_GitHub: "they stared a broken ass theme ⤵️\A";
        --FlashLang-AFC_SpecialThanks: "🌠 Special " var(--FlashLang-DoubleQuote) "Go Screw Yourself" var(--FlashLang-DoubleQuote) ": \A";
        --FlashLang-AFC_Evelyn: "- Evelyn: Created " var(--FlashLang-DoubleQuote) "Magnificent" var(--FlashLang-DoubleQuote) " and broke every time. \A";
        --FlashLang-AFC_Tharki: "- Tharki-God: This nerd make an objectively better version of ThemeHooker and i'm mad >:( \A";
        --FlashLang-AFC_EastArctica: "- East_Arctica: Another nerd >:( Wanted to write the back-end of my website to help me when all I wanted was suffering \A\A";
        --FlashLang-AFC_Copyright: "Flashcord © 2023-2024 by SiriusBYT is licensed under your mom called CC BY-NC-ND 4.0. \A\A\A\A\A\A\A\A\A\A";

        --FlashLang-AFC_Translator-Quote: "      🗨️ [Translator Quote] SiriusBYT: " var(--FlashLang-DoubleQuote) "GangChat will rule over the world." var(--FlashLang-DoubleQuote)" \A\A ";
    }
}